<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        ElectricTalk
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-item class="input100">
      <ion-label>Email</ion-label>
      <ion-input type="email" slot="end" placeholder="Email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" slot="end" placeholder="Password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
  </ion-grid>
  <ion-button color="primary" expand="full" shape="round" class="login" strong="true" (click)="loginRequest()">Login</ion-button>
  <ion-button color="primary" expand="full" shape="round" strong="true" (click)="goToPage('/register')">Don't have an account? Sign up!</ion-button> 
</ion-content>