<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Forum
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-item (click)="goToPage('/topics')" *ngFor="let categ of categories">
        <ion-icon [name]='icon' slot="start"></ion-icon>
        {{categ.title}}
      </ion-item>
    </ion-grid>
    <ion-button expand="full" shape="round" strong="true" position="fixed">Add category</ion-button>
  </ion-content>
  