<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="messages-list">
    <ion-item *ngFor="let message of messages">
      <ion-icon [name]="icon" slot="start"></ion-icon>
        {{message.title}}
    </ion-item>
  </ion-grid>
  <ion-button expand="full" shape="round" strong="true" position="fixed">Add message</ion-button>
</ion-content>
