<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-icon [name]='car' slot="start"></ion-icon>
      {{message.title}} {{message.content}}
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-message" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
   </ion-fab-button>
  </ion-fab>
</ion-content>
