ion-content{
    --background: url("../../../assets/image/HomeBackground.jpg");
    opacity: 80%;
}
ion-list{
    display: block;
    width: 100%;
    height: 100%;
    opacity: 80%;
}
img{
    width: 150px;
    opacity: 100%;
}
ion-button {
    margin-top: 20px;
}