<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Owned Vehicles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="getCarDetails(car.id)" *ngFor="let car of cars">
      <img src="{{car.icon}}">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{car.company}}
          </ion-col>
          <ion-col>
            <ion-progress-bar value={{car.batteryLeft}}>
            </ion-progress-bar>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{car.model}}
          </ion-col>
          <ion-col>
            {{car.lastTechRevision}}
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>
    <ion-button color="primary" expand="full" shape="round" class="login" strong="true" (click)="goToPage('/add-car')">Add new car</ion-button>
  </ion-list>
</ion-content>
