<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Owned Vehicles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="goToPage('/edit-car')" *ngFor="let car of cars">
      <ion-icon [name]='car.icon' slot="start"></ion-icon>
      {{car.company}} {{car.model}}
      <div class="item-note" slot="end">
        {{car.batteryLeft}}
        <div class="item-note" slot="end">
          {{car.lastTechRevision}}
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/add-car" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
   </ion-fab-button>
  </ion-fab>
</ion-content>
