<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Add Category</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <ion-grid>
   <ion-item>
    <ion-label>Title</ion-label>
      <ion-input required type="text" placeholder="New Category" slot="end" [(ngModel)]="category.title"></ion-input>
    </ion-item>
  </ion-grid>
  <ion-button expand="full" (click)="saveTodo()">Save</ion-button>
</ion-content>