<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu color="primary" contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div>
          <img src="{{gravatarUrl}}"/>
          <div class="ion-text-center" menuClose color="primary" class="user-name" (click)="goToPage('/edit-account')">
            {{userName}}
          </div>
        </div>
        <ion-grid>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="primary" [routerDirection]="'root'" [routerLink]="[p.url]" class="menu-item">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>
