.menu-item{
    margin-top:4px;
    font-size: 20px;
    border-radius: 20px;
}
img{
    height: 180px;
    width: auto;
    margin: 30px 0 30px 50px;
    border-radius: 100px;
}
.user-name{
    font-size: 20px;
    text-align: center;
}