<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/list"></ion-back-button>
      </ion-buttons>
      <ion-title>Edit Car</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-item>
        <ion-label>Company</ion-label>
        <ion-input required type="text" placeholder="Volswagen, BMW" slot="end" [(ngModel)]="car.company"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Model</ion-label>
        <ion-input required type="text" max-length="10" placeholder="Polo, X1, X3, X5" slot="end" [(ngModel)]="car.model"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label slot="start" >Year</ion-label>
        <ion-datetime required display-format="YYYY" min="1998" slot="start" [(ngModel)]="car.year"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Autonomy</ion-label>
        <ion-input type="number" placeholder="Autonomy" slot="end" [(ngModel)]="car.autonomy"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Battery Left</ion-label>
        <ion-input required type="number" min="0" max="100" placeholder="Battery Left" slot="end" [(ngModel)]="car.batteryLeft"></ion-input>
      </ion-item>
      <ion-item>
        <div>Last Technical Revision</div>
        <ion-datetime required display-format="DD-MMM-YYYY" min="2018" placeholder="Date" [(ngModel)]="car.lastTechRevision"></ion-datetime>
      </ion-item>
    </ion-grid>
    <ion-button class="save" expand="full" (click)="carEditPOST()" shape="round" strong="true">Save</ion-button>
    <ion-button color="danger" expand="full" (click)="carDelete()" shape="round" strong="true">Delete</ion-button>
  </ion-content>